<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacts</title>
</head>
<body>
    
    <ul>
        {% for c in data %}
        <li><h3>{{ c.name_contact }}</h3><br>{{ c.name }}<br>{{ c.email }}<br>{{ c.phone }}</li>
        <form method="POST" action="/delete">
            <input type="hidden" name="contact_to_delete" value="{{ c.name }}"> 
            <input type="submit" value="delete">
        </form><hr>
    {% endfor %}
    </ul>
    
    <h2>Add a contact</h2>
    <form method="POST">
        <label for="name_contact">Name of Contact</label>
        <input type="text" name="name_contact"/>
        <label for="name">Name</label>
        <input type="text" name="name"/>
        <label for="email">Email</label>
        <input type="email" name="email"/>
        <label for="phone">Phone</label>
        <input type="text" name="phone"/>
        <input type="submit" value="Submit"/>
    </form>
    
</body>
</html>